body {
	font: normal 14px / 1.5 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

img.partner {
	height: 50px;
	margin: 10px;
}

img.partner.smaller {
	margin: -10px;
}

.btn-xl {
	border: none;
	padding: 15px 35px;
	font-size: 18px;
}

.btn {
	text-shadow: none;
	white-space: normal;
}

.btn-default {
	background-color: #EEF0F1;
	padding: 10px 12px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.bold {
	font-weight: bold;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

section h1.lead {
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 400;
}

section h3 {
	line-height: 25px;
	font-size: 18px;
	max-width: 900px;
	margin: 0 auto 45px;
	font-weight: 400;
}

section h3.no-margin {
	margin: 0 0 45px;
}

section .container.settings-container {
	padding: 0;
	margin-top: 40px;
}

section .container.settings-container h3 {
	margin: 0;
	line-height: auto;
	max-width: auto;
	font-size: 16px;
	font-weight: 700;
}

section .container.settings-container p {
	font-size: 14px;
}

.intro {
	text-align: center;
}

.intro .container {
	background: url('../images/intro-bg.png') center 25px no-repeat;
}

.intro--btn {
	margin: 0 0 15px;
}

.intro--btn a {
	font-weight: 700;
}

.intro--subtitle {
	color: #888888;
	font-size: 14px;
	font-weight: 400;
}

section {
	width: 100%;
}

.top-bar .main-logo {
	float: left;
}

.top-bar .btn {
	float: right;
	margin-top: 7px;
}

@media (max-width: 768px) {
	.top-bar .main-logo,
	.top-bar .btn {
		float: none;
		display: block;
	}
}

.section--header h2 {
	font-size: 26px;
	line-height: 40px;
}

.section--header p {
	font-size: 16px;
}

.section--header p a {
	text-decoration: underline;
}

.section--body.boxies {
	margin: 60px 0;
}

.section--body .box {
	text-align: left;
}

.section--body .box a {
	font-size: 16px;
}

.section--body .box .tiny {
	font-size: 13px;
}

.section--body .box:before {
	content: '';
	display: block;
	width: 100%;
	margin-bottom: 30px;
}

.section--body .box-bubble:before {
	background: url('../images/bubble-icon.png') center center no-repeat;
	height: 64px;
}

.section--body .box-graph:before {
	background: url('../images/graph-icon.png') center center no-repeat;
	height: 64px;
}

.section--body .box-mouse:before {
	background: url('../images/mouse-icon.png') center center no-repeat;
	height: 64px;
}

.section--body .customers {
	max-height: 190px;
	margin: 30px 0;
}

.section--body .customers a {
	display: inline-block;
	vertical-align: middle;
	margin: 15px 30px;
}

.section--body .customers a img {
	max-height: 60px;
}

.form-container {
	padding-bottom: 30px;
}

.form-container:after {
	content: '';
	display: block;
	width: 60%;
	height: 1px;
	background-color: #DBDBDB;
	margin: 80px auto 0 auto;
}

.form-container .form--inner {
	max-width: 500px;
	margin: 30px auto;
}

.form-container .form-button {
	margin-top: 30px;
}

.form-container .form-button input {
	width: 60%;
	margin: 0 auto;
	font-weight: 700;
	padding: 15px;
}

@media (max-width: 768px) {
	.form-container .form-button input {
		width: 50%;
		margin: 0;
	}
}

.form-container label.control-label {
	text-align: left;
}

#signUp .container {
	background: url('../images/intro-bg.png') center 25px no-repeat;
}

#third {
	background-color: #FFFFFF;
}

#first, #second, #third {
	padding: 0 50px;
}

.deactivate {
	margin-top: 30px;
}

.deactivate .row {
	background-color: #FFFFFF;
	padding: 10px 15px;
}

.deactivate .tiny {
	font-size: 11px;
	margin-bottom: 30px;
}

.deactivate .tiny a {
	color: #333333;
	text-decoration: underline;
}

.deactivate .go-to-btn {
	margin: 20px 0px 10px;
}

.deactivate .go-to-btn a {
	padding: 10px 32px;
}

.deactivate .bigger-m {
	margin-bottom: 60px;
}

#settingsForm textarea {
	width: 60%;
}

#settingsForm input.btn {
	font-size: 12px;
}

.bold {
	font-weight: bold;
}

/*  */

.loader,
.loader:before,
.loader:after {
	background: #3598dc;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader {
	position: absolute;
	left: 50%;
	top: -70px;
	display: none;
	color: #3598dc;
	text-indent: -9999em;
	margin: 88px auto;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

.intro h3 {
        color: #34670a;
	margin: 40px auto 0px;
}

.intro h4 {
	padding: 5px 0 20px;
}
