<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Smartsupp_Smartsupp::menu" title="Smartsupp" module="Smartsupp_Smartsupp" sortOrder="500" parent="Magento_Backend::system" resource="Smartsupp_Smartsupp::menu"/>
		<add id="Smartsupp_Smartsupp::settings" title="Settings" module="Smartsupp_Smartsupp" sortOrder="100" parent="Smartsupp_Smartsupp::menu" action="smartsupp/settings" resource="Smartsupp_Smartsupp::settings"/>
	</menu>
</config>