<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="smartsupp" translate="label" sortOrder="500">
            <label>Smartsupp</label>
        </tab>
        <section id="smartsupp" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Chat</label>
            <tab>smartsupp</tab>
            <resource>Smartsupp_Smartsupp::config</resource>
            <group id="chat" translate="label" type="text" sortOrder="10" showInWebsite="1" showInStore="0" showInDefault="1">
                <label>Chat settings</label>
                <comment>This settings should not be manipulated directly. Use plugin setup under System/Smartsupp/Settings instead.</comment>
                <attribute type="expanded">1</attribute>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="0" showInWebsite="1">
                    <label>Enabled</label>
                    <comment><![CDATA[Dont' have a Smartsupp account? Click <a href="https://www.smartsupp.com/sign/up" target="_blank">here</a> to create one.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="chatId" translate="label" type="text" sortOrder="2" showInDefault="1" showInStore="0" showInWebsite="1">
                    <label>Smartsupp key</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="email" translate="label" type="text" sortOrder="3" showInDefault="1" showInStore="0" showInWebsite="1">
                    <label>Email</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="optionalCode" translate="label" type="textarea" sortOrder="4" showInDefault="1" showInStore="0" showInWebsite="1">
                    <label>Optional code</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>

        </section>
    </system>
</config>